@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'op-regular';
    src: url('../fonts/OverpassMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'op-bold';
    src: url('../fonts/OverpassMono-Bold.ttf') format('truetype');
    font-weight: 800;
    font-style: bold;
}

@font-face {
    font-family: 'op-light';
    src: url('../fonts/OverpassMono-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


body {
    margin: 0;
    width: 800px;
    height: 600px;
    font-family: 'op-regular', sans-serif;
}

button, a {
    transition: transform 0.4s ease-in-out;
}

button:hover, a:hover {
    transform: scale(0.85);
}

/* Form Styles */
input {
    padding: 1rem;
    border-radius: 4rem; 
    text-align: center;
    font-size: 1rem; /* 16px */
    line-height: 1.5rem; /* 24px */
    color: #f2ece3;
    width: 100%;
    background-color: #1e1e1e;
}

label {
    font-size: 1rem;
    line-height: 1.5rem;
}
